* {
    margin: 0;
}

body {
    background-image: url("../images/brickwall.png");
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #edeced;
    text-shadow: 1px 4px 4px rgba(0,0,0,0.3);
    max-width: 100vw;
}


/* navigation bar */
.nav-bar {
    position:sticky;
    overflow: auto;
    background: rgb(216, 85, 85);
    padding-bottom: 100px;
    max-width: 100vw;
    padding-bottom: 60px;
    box-shadow: 0 4px 2px -2px gray;
    font-size: 150%;
    
}



.main-head {
    font-family: 'Major mono display', monospace;
    position: absolute;
    top: 15%;
    left: calc(12.5% - 5px);
    width: auto;
    padding: auto;
    /* text-shadow: 2px 4px 3px rgba(0,0,0,0.3); */

}


ul {
    position: absolute;
    right: 12.5%;
    top: 50%;
    list-style-type: none;
    font-size: 50%;
}

li ,a {
display:inline;
text-transform: uppercase;
color: white;
text-align: center;
padding: 2px 2px;
text-decoration: none;

}

a:hover { 
  border-bottom: solid 1px #eee;
}

a:focus {
    font-size: 1.05em;
}


a:visited {
    border-bottom: solid 1px #eee;
}

.heading {
    width: 25%;
    padding: 2%;
    text-align: left;
}

.about-container {
    
    clear: both;
    background: rgb(216, 85, 85);
    box-shadow: 0 4px 2px -2px gray;
    color: #edeced;
    width: auto;
    margin-right: 12.5%;
    margin-left: 12.5%;
    margin-bottom: 6.25%;
    margin-top: 6.25%;
    padding-bottom: 50px; 
}


article {
padding: 1em;
}

.image {
    float: left;
    background: url(../images/smile.JPG);
    background-size: cover;
    background-position: center;
    padding: 6em;
    margin-right: 1em;
    /* object-fit: fill; */
    /* border-radius: 25px; */
    
}


p {
    
    line-height: 1.5em;
    text-shadow: 1px 4px 4px rgba(0,0,0,0.3);
}


.foot {
    position: fixed;
    bottom:0;
    right:0;
    width: 100%;
    background: rgb(216, 85, 85);
    padding-top: 25px;
    max-width: 100vw;
    box-shadow: 0 0 30px #000;	
}

small {
position: fixed;
bottom: 0;
right: 0;
    width: 100%;
    text-align: center;
    
}


.border {
border: 2px solid yellow;
/* padding: 1em; */
}

/* portfolio boxes */
.article-portfolio {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.app-img {
    
    border-radius: 8px;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top: 1em;
}

h3 {
    line-height: 200px;
    font-size:85%;
    
}

.project1 {
    background: linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)), url(../images/app.jpeg);
    background-size: cover;
    background-position: center;
}

.project2 {
    background: linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)), url(../images/musician_app.jpg);
    background-size: cover;
    background-position: center;
}

.project3 {
    background: linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)), url(../images/graphic.jpeg);
    background-size: cover;
    background-position: center;
}

.project4 {
    background: linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)), url(../images/ipad-game.jpeg);
    background-size: cover;
    background-position: center;
}

/* contact form style */
input[type=text], textarea {
  width: 100%;
  padding: 12px;   
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; }