body {
    background: #fff;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    width: 960px;
}


/* navigation bar */
.nav-bar {
    overflow: auto;
    list-style-type: none;
    margin: 0;
    background: rgb(216, 85, 85);
    padding: 5px;
    box-shadow: 0 4px 2px -2px gray;
}



ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 20%;
}

li {
    float: right;
    margin-right: 1%; 
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.heading {
    background: grey;
    width: 25%;
}
.about-container {
clear: both;
    background: rgb(216, 85, 85);
    box-shadow: 0 4px 2px -2px gray;
    color: white;
    
    margin-right: 23%;
    margin-left: 23%;
}

article {
margin-left: 10px;
margin-right: 10px; 
overflow: auto;

}

img {
    float: left;
    margin: .5%;
    margin-right: 2%;
    transform: rotate(90deg);
    
    
}

.paragraph {
    display: inline;
    
    
}

